# Ignore node_modules directory
node_modules/

# Ignore environment configuration files
.env

# Ignore log files
*.log

# Ignore compiled files
*.class
*.jar
*.war
*.ear
*.zip

# Ignore package-lock.json (npm)
package-lock.json

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore compiled Python bytecode
__pycache__/

# Ignore macOS system files
.DS_Store
