.footer{
    margin: 0;
    padding: 0;
    background:  hsl(0, 0%, 98%);
    color: rgb(0, 0, 0);
}
.footer-container{
    display: flex;
    flex-direction:column;
    height: 20rem;
}

.route-content h3{
    text-align: center;
    font-size: 1.4rem;
    color: hsl(0, 100%, 50%);
}
.route-content ul{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    list-style: none;
}
.route-content li{
    color: hsl(0, 0%, 100%);
    height: 2rem;
    width: 6rem;
    padding: .2rem;
    text-align: center;
    border-radius: 5px;
    background: hsl(0, 0%, 24%);
    border:1px solid hsl(0, 2%, 41%);
}

.route-content li:hover{
    cursor: pointer;
    background:hsl(0, 0%, 15%);
    color: rgb(0, 136, 254);
}

.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color: hsl(0, 0%, 0%);
}

.footer-social{
    background: hsl(0, 0%, 24%);
    height: 10rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;   
}
.social-acc li{
    list-style:none;
    padding: 2rem;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.social-acc li:hover{
    cursor: pointer;
    color: hsl(275, 20%, 43%)
}
@media screen and (max-width:780px) {
    .route-content ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .social-acc li{
        padding: .3rem;
    }
}
